*{
    img{
        border-radius: 50%;
        box-shadow: 6px 6px  rgba(0,0,0,0.1);
    }
    font-family: 'Roboto', sans-serif;

    h1{
        font-family: 'Nerko One', cursive;
        font-size: 64px;
    }

    button{
        border:none;
        border-radius: 3px;
        height: 50px;
        width: auto;
        padding: 10px 15px;
        font-weight: bold;
        color:#fff;
        background:#66CC00;
        &:hover{
            cursor: pointer;
            background:#00aa00;
        }
    }

    input::-ms-clear {
        display: none;
    }

    input::-ms-appearance {
        display: none;
    }


}

html{
    background: #FFFFCC;
    overflow-x: hidden;
}

header{
    height: 80px;
    background:#66CC00;
    padding: 40px 30px;
    margin: 0 0;
    width: 100%;
    position: fixed;
    
    top: 0;
    left: 0;
    & > h1{
        
        margin: 0 auto;
        color: #fff;
    }
}

main{
    display: flex;
    width: 100%;
    //padding: 30px 30px;
    margin: 0px auto;
    margin-top: 200px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    & > img, button, form{
        margin-top: 30px;
        display: block;
        margin: 0 auto;
    }
    & > img{
        height: 300px;
        width: 300px;
        opacity: 0;
    }
    &  >form{
        width: 300px;
        margin: 30px auto;
        text-align: left;
        & > input{
            width: 100%;
        }
        & > label{
            text-align: left;
        }
    }
    & > button{
        width: 150px;
    }
}

#sub-holder{
    display: block;
    width: 100%;
    & > #submissions{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        padding: 30px 30px;
        margin: 0 auto;
        background: #CCFF99;
        box-shadow: 10px -10px rgba(0,0,0,0.1);
        text-align: center;
        & > div{
            display: block;
            width: 20%;
            margin: 20px auto;
            
            & > img{
                margin-top: 20px;
            }
        }
    }
}

